.border {
  border-width: 1px;
}
.border-bottom {
  border-bottom-width: 1px;
}

.border-dashed {
  border-style: dashed;
}
.border-bottom-dashed {
  border-bottom-style: dashed;
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}

.rounded {
  border-radius: 0.25rem;
}