@import "borders";
@import "colors";
@import "width";
@import "display";
@import "justify";
@import "align";
@import "list";
@import "margins";
@import "paddings";
@import "backgrounds";
@import "fonts";

.wp-core-ui {
  .button-danger {
    background: #b32d2e;
    border-color: #b32d2e;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
  }

  .button-danger:hover {
    background: #8a2424;
    border-color: #8a2424;
    color: #fff;
  }
}

.preview-wrap {
  padding: 0 30px;

  .preview-box {
    max-width: 500px;

    .header {
      display: flex;
      padding: 16px 16px 0 16px;
      align-items: center;

      .fbap-logo {
        img {
          width: 40px;
        }
      }

      .fbap-title {
        margin-left: 10px;

        h4 {
          line-height: 1em;
          margin-top: 0;
          margin-bottom: 5px;
        }

        p {
          line-height: 1em;
          padding: 0;
          margin: 0;
        }
      }
    }

    h2 {
      padding: 0 16px;
    }

    p {
      padding: 0 16px;
    }

    .preview-post-wrap {
      h2 {
        padding-top: 20px;
      }
      .preview-post {
        display: flex;
        .post-image {
          width: 300px;
          img {
            width: 100%;
          }
        }
        .post-content {
          padding: 0 10px 20px 10px;
          position: relative;
          .topper {
            display: flex;
            justify-content: space-between;
            .category {
              background: #10A052;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              padding: 5px 10px;
              color: #fff;
              font-size: 12px;
            }
            .locale {
              padding: 5px 10px;
              color: #ACACAC;
            }
          }
          h3 {
            font-size: 14px;
            color: #FF8639;
            font-weight: 600;
          }
          p {
            padding: 0;
            margin-bottom: 20px;
          }
          .price {
            background: #FF8639;
            padding: 5px 10px;
            border-radius: 5px;
            color: #fff;
            font-weight: 700;
          }
          .partner-logo {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100px;
          }
        }
      }
    }
  }
}

.ad-publications-table {
  .filters {
    a {
      color: #c3c4c7;
      padding: 5px 10px;
      border: 1px solid #c3c4c7;
      margin-right: 10px;
      cursor: pointer;
      transition: .3s;
      text-decoration: none;

      &:hover {
        border: 1px solid #2271b1;
        color: #2271b1;
        transition: .3s;
      }
    }
    a.selected {
      color: #2271b1;
      border: 1px solid #2271b1;
    }
  }
  table {
    .title {
      color: #2271b1;
      cursor: pointer;
    }
    .edit-schedule {
      color: #2271b1;
      cursor: pointer;
    }
  }
}
